In [1]:
# Pyber Challenge

In [2]:
### 4.3 Loading and Reading CSV files

In [3]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

# File to Load (Remember to change these)
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

In [4]:
### Merge the DataFrames

In [86]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.head()

                 city           date   fare       ride_id  driver_count   type
0  Lake Jonathanshire  1/14/19 10:14  13.83  5.739410e+12             5  Urban
1  South Michelleport   3/4/19 18:24  30.24  2.343910e+12            72  Urban
2  Port Samanthamouth   2/24/19 4:29  33.44  2.005070e+12            57  Urban
3          Rodneyfort  2/10/19 23:22  23.44  5.149250e+12            34  Urban
4          South Jack    3/6/19 4:28  34.58  3.908450e+12            46  Urban

In [87]:
## Deliverable 1: Get a Summary DataFrame

In [107]:
#  1. Get the total rides for each city type
pyber_data_df["type"].unique()

urban_cities_df = pyber_data_df[pyber_data_df["type"] == "Urban"]
rural_cities_df = pyber_data_df[pyber_data_df["type"] == "Rural"]
suburban_cities_df = pyber_data_df[pyber_data_df["type"] == "Suburban"]

urban_ride_count = urban_cities_df.groupby(["city"]).count()["ride_id"]
rural_ride_count = rural_cities_df.groupby(["city"]).count()["ride_id"]
suburban_ride_count = suburban_cities_df.groupby(["city"]).count()["ride_id"]

urban_ride_count.head()

type
Urban    1625
Name: ride_id, dtype: int64

In [90]:
# 2. Get the total drivers for each city type

urban_driver_total = urban_cities_df.groupby(["city"]).sum()["driver_count"]
suburban_driver_total = suburban_cities_df.groupby(["city"]).sum()["driver_count"]
rural_driver_total = rural_cities_df.groupby(["city"]).sum()["driver_count"]

urban_driver_total.head()

city
Amandaburgh         216
Barajasview         572
Carriemouth        1404
Christopherfurt    1107
Deanville           931
Name: driver_count, dtype: int64

In [91]:
#  3. Get the total amount of fares for each city type

urban_driver_total_fare = urban_cities_df.groupby(["city"]).sum()["fare"]
suburban_driver_total_fare = suburban_cities_df.groupby(["city"]).sum()["fare"]
rural_driver_total_fare = rural_cities_df.groupby(["city"]).sum()["fare"]

rural_driver_total_fare.head()

city
Bradshawfurt      400.64
Garzaport          72.37
Harringtonfort    200.82
Jessicaport       216.08
Lake Jamie        206.15
Name: fare, dtype: float64

In [92]:
#  4. Get the average fare per ride for each city type. 
urban_ride_total = urban_cities_df.groupby(["city"]).sum()["ride_id"]
rural_ride_total = rural_cities_df.groupby(["city"]).sum()["ride_id"]
suburban_ride_total = suburban_cities_df.groupby(["city"]).sum()["ride_id"]

urban_ride_total_fare = urban_cities_df.groupby(["city"]).sum()["fare"]
rural_ride_total_fare = rural_cities_df.groupby(["city"]).sum()["fare"]
suburban_ride_total_fare = suburban_cities_df.groupby(["city"]).sum()["fare"]

In [93]:
urban_avg_ride_fare = urban_ride_total / urban_ride_total_fare
suburban_avg_ride_fare = suburban_ride_total / suburban_ride_total_fare
rural_avg_ride_fare = rural_ride_total / rural_ride_total_fare

suburban_avg_ride_fare

city
Barronchester         1.224736e+11
Bethanyland           1.772827e+11
Brandonfort           1.532151e+11
Colemanland           1.668811e+11
Davidfurt             1.429888e+11
East Aaronbury        2.463061e+11
East Danielview       1.218425e+11
East Kentstad         1.503089e+11
East Marymouth        1.929637e+11
Grayville             2.039124e+11
Josephside            1.363276e+11
Lake Ann              1.324103e+11
Lake Omar             1.967122e+11
Lake Robertside       1.605124e+11
Lake Scott            1.664717e+11
Lewishaven            2.126167e+11
Lewisland             1.744813e+11
Mezachester           1.986347e+11
Myersshire            1.245302e+11
New Olivia            1.504507e+11
New Raymond           1.850947e+11
New Shannonberg       1.792720e+11
Nicolechester         1.324782e+11
North Jeffrey         1.963464e+11
North Richardhaven    1.444763e+11
North Timothy         1.425357e+11
Port Shane            1.366181e+11
Rodriguezview         1.266177e+11
Sotoville             1.809786e+11
South Brenda          1.310959e+11
South Teresa          1.768873e+11
Veronicaberg          1.560931e+11
Victoriaport          1.754995e+11
West Hannah           1.560574e+11
West Kimmouth         1.662318e+11
Williamsonville       1.593710e+11
dtype: float64

In [94]:
# 5. Get the average fare per driver for each city type. 
urban_avg_driver_fare = urban_driver_total / urban_driver_total_fare
suburban_avg_driver_fare = suburban_driver_total / suburban_driver_total_fare
rural_avg_driver_fare = rural_driver_total / rural_driver_total_fare

urban_avg_driver_fare

city
Amandaburgh            0.486980
Barajasview            1.026359
Carriemouth            1.836518
Christopherfurt        1.673343
Deanville              1.896092
                         ...
West Patrickchester    0.885485
West Robert            1.552309
West Samuelburgh       3.353608
Williamsstad           2.421787
Williamsview           1.729388
Length: 66, dtype: float64

In [126]:
#list the columns
cols = combined_cities_df.columns.tolist()

In [132]:
# Get the sum of the rides for each city type.
sum_rides_by_type = pyber_data_df.groupby(["type"]).count()["ride_id"]
sum_rides_by_type

type
Rural        125
Suburban     625
Urban       1625
Name: ride_id, dtype: int64

In [221]:
#get the number of total drivers by type
sum_drivers_by_type = pyber_data_df.groupby(["type"]).count()["driver_count"].unique()
sum_drivers_by_type

array([ 125,  625, 1625])

In [215]:
#get the number of total fares by type
sum_fares_by_type = pyber_data_df.groupby(["type"])["fare"].sum()
sum_fares_by_type

type
Rural        4327.93
Suburban    19356.33
Urban       39854.38
Name: fare, dtype: float64

In [216]:
#get the average fares per ride and fares per driver.
average_ride_fare = sum_fares_by_type / sum_rides_by_type
average_driver_fare = sum_fares_by_type / sum_drivers_by_type
average_driver_fare

type
Rural       8.059460
Suburban    2.258615
Urban       0.668675
dtype: float64

In [203]:
#  6. Create a PyBer summary DataFrame. 

pyber_summary_df = pd.DataFrame({
        "Total Rides": sum_rides_by_type,
        "Total Drivers": sum_drivers_by_type,
        "Total Fares": sum_fares_by_type,
        "Average Fare per Ride": average_ride_fare,
        "Average Fare per Driver": average_driver_fare})
       
pyber_summary_df.head()

,Total Rides,Total Drivers,Total Fares,Average Fare per Ride,Average Fare per Driver
type,,,,,
Rural,125,125,4327.93,34.623440,34.623440
Suburban,625,625,19356.33,30.970128,30.970128
Urban,1625,1625,39854.38,24.525772,24.525772

In [124]:
#  7. Cleaning up the DataFrame. Delete the index name
pyber_summary_df.index.name = None

In [14]:
#  8. Format the columns.